h1 {
    color: maroon;
    font-size: 24pt;    
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

#topNavBar {
    text-align: center;
}

.topNav {
    padding-right: 30px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

/*#topNavBar li {
    float: left;
    padding: 10px 30px 10px 30px;
}

#topNavBar a {
    display: block;
    width: 60px; 
}

#topNavBar {
    display: inline;
    clear: right;
}*/

.section {
    display: inline;
}

#main {
    padding-bottom: 60px;
    width: 100%;
}

img {
    margin: 0 auto; 
}


ul {
    list-style-type: none;
    font-size: 16pt;
    display: inline;
    text-align: center;
}

.footerLink {
    display: inline;
}

#footerNav {
    margin: auto;
}

p {
    text-align: center;
}

#profilepic {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    width: 100%;
}