h1 {
    color: maroon;
    font-size: 30px;
}

#leftsidebar {
    float: left;
    width: 25%;
}

#rightsidebar {
    float: right;
    width: 25%;
}

#main {
    float: left;
}

ul {
    list-style-type: none;
}

.footernav {
    display: inline;
}

footer {
    clear: both;
}