h1 {
    color: maroon;
    font-size: 24pt;
}

#leftsidebar {
    float: left;
    width: 25%;
}

#rightsidebar {
    float: right;
    width: 25%;
}

#main {
    float: left;
    padding-bottom: 60px;
}

ul {
    list-style-type: none;
    font-size: 16pt;
}

.footernav {
    display: inline;
}

footer {
    clear: both;
    padding-left: 30px;
    padding-right: 30px;
}

form {
    display: inline;
}

body {
    font-family: 'Raleway', sans-serif;
}